
<!--
<div class="row text-center product">
<%= image_tag("csagbanner.jpg",:class=> "img-responsive" ) %>
</div>
  -->
 <% content_for :head do %>
 
  <%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %>
 <% end %> 


  <div class="header">
  	<div class="row logo-big">
  		<h1> CSA Graves </h1>
  		<h2>Confederate Veterans Graves of Texas</h2>

  	</div>

  		
  	<div class="row bottom">
  	<p>
  		Presented by W.H. "Howdy" Martin Camp #1241, Sons of Confederate Veterans, Athens, Henderson County, Texas 
  	</p>
  	</div>
  </div>
  <div class="icon-box-1 text-center">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <!-- Icon Box One Item -->
                <div class="icon-box-1-item">
                  <!-- Icon Box One Icon -->
                  <a href="#"><i class="fa fa-flag red"></i></a>
                  <!-- Icon Box One Headeing -->
                  <h4><a href="#">Confederate Heritage</a></h4>
                  <!-- Icon Box One Paragraph -->
                 <div class="text-left">
                    <ul class="list-9">
                      <li><a href="http://www.scv.org">National SCV</a></li>
                      <li><a href="http://www.scvtexas.org">Texas Division SCV</a></li>
                      <li><a href="http://www.martincamp.org">Howdy Martin Camp</a></li>
                      <li><a href="http://www.hqudc.org/">Daughters of the Confederacy</a></li>
                      <li><a href="http://www.confederaterose.org">Order of the Confederate Rose</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="icon-box-1-item">
                  <%= image_tag "csa-logo.jpg", :class=>"img-responsive" %>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- Icon Box One Item -->
                <div class="icon-box-1-item">
                  <a href="#"><i class="fa fa-cog pink"></i></a>
                  <h4><a href="#">Research Links</a></h4>
                  <div class="text-left">
                    <ul class="list-9">
                      <li><a href="http://www.fold3.com">Fold 3</a></li>
                      <li><a href="http://www.ancestry.com">Ancestry.com</a></li>
                      <li><a href="http://findagrave.com">Find A Grave</a></li>
                      <li><a href="http://billiongraves.com">Billon Graves</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
            
          </div>
<div class="quote-two">
          <!-- Container -->
          <div class="container">
            <!-- Quote Two Content -->
            <div class="quote-two-content">
              <span>“</span>
              <div class="owl-carousel owl-theme" data-items="1" data-auto-play="true" data-pagination="true" data-single-item="true" style="opacity: 1; display: block;">
                <!-- Item -->
                <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 5400px; left: -1800px; display: block;"><div class="owl-item" style="width: 900px;"><div class="item">
                  <h3>At vero eos et accusamus et iusto odio dignissimos ducimus indignation qui blanditiis praesentium voluptatum.</h3>
                  - Helon Thomas
                </div></div><div class="owl-item" style="width: 900px;"><div class="item">
                  <h3>Indignation qui blanditiis praesentium voluptatum at vero eos et accusamus et iusto odio dignissimos ducimus.</h3>
                  - Helon Peter
                </div></div><div class="owl-item" style="width: 900px;"><div class="item">
                  <h3>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.</h3>
                  - John Mark 
                </div></div></div></div>
                
                
              <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div></div></div></div>
            </div>
          </div>          
        </div>

     




<script type="text/javascript">
      jQuery(document).ready(function() {
        jQuery('.r-slider .banner').revolution({
          delay:7000,
          startheight:400,
          startwidth:1000,
          startWithSlide:0,
     
          fullScreenAlignForce:"off",
          autoHeight:"off",
     
          shuffle:"off",
     
          onHoverStop:"on",
     
          thumbWidth:100,
          thumbHeight:50,
          thumbAmount:3,
     
          hideThumbsOnMobile:"on",
          hideNavDelayOnMobile:1500,
          hideBulletsOnMobile:"off",
          hideArrowsOnMobile:"off",
          hideThumbsUnderResoluition:0,
     
          hideThumbs:10,
          hideTimerBar:"on",
     
          keyboardNavigation:"on",
     
          navigationType:"bullet",
          navigationArrows:"solo",
          navigationStyle:"round",
     
          navigationHAlign:"center",
          navigationVAlign:"bottom",
     
          soloArrowLeftHalign:"left",
          soloArrowLeftValign:"center",
          soloArrowLeftHOffset:20,
          soloArrowLeftVOffset:0,
     
          soloArrowRightHalign:"right",
          soloArrowRightValign:"center",
          soloArrowRightHOffset:20,
          soloArrowRightVOffset:0,
     
     
          touchenabled:"on",
          swipe_velocity:"0.7",
          swipe_max_touches:"1",
          swipe_min_touches:"1",
          drag_block_vertical:"false",
     
          stopAtSlide:-1,
          stopAfterLoops:-1,
          hideCaptionAtLimit:0,
          hideAllCaptionAtLilmit:0,
          hideSliderAtLimit:0,
     
          dottedOverlay:"none",
     
          spinned:"spinner4",
     
          fullWidth:"off",
          forceFullWidth:"off",
          fullScreen:"off",
          fullScreenOffsetContainer:"#topheader-to-offset",
     
        });
      });
    </script>
