
<!--
<div class="row text-center product">
<%= image_tag("csagbanner.jpg",:class=> "img-responsive" ) %>
</div>
  -->
 <% content_for :head do %>
 
  <%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %>
 <% end %> 


  <div class="header">
  	<div class="row logo-big">
  		<h1> CSA Graves </h1>
  		<h2>Confederate Veterans Graves of Texas</h2>

  	</div>

  		
  	<div class="row bottom">
  	<p>
  		Presented by W.H. "Howdy" Martin Camp #1241, Sons of Confederate Veterans, Athens, Henderson County, Texas 
  	</p>
  	</div>
  </div>
 

     





<script>
	$(document).ready(function(e){
    $('.search-panel .dropdown-menu').find('a').click(function(e) {
		
		var param = $(this).attr("href").replace("#","");
		var concept = $(this).text();
		$('.search-panel span#search_concept').text(concept);
		$('.input-group #search_param').val(param);
	});
});
</script>