
<!--
<div class="row text-center product">
<%= image_tag("csagbanner.jpg",:class=> "img-responsive" ) %>
</div>
  -->
 <% content_for :head do %>
 
  <%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %>
 <% end %> 


  <div class="header">
  	<div class="row logo-big">
  		<h1> CSA Graves </h1>
  		<h2>Confederate Veterans Graves of Texas</h2>

  	</div>

  		
  	<div class="row bottom">
  	<p>
  		Presented by W.H. "Howdy" Martin Camp #1241, Sons of Confederate Veterans, Athens, Henderson County, Texas 
  	</p>
  	</div>
  </div>
 
	<%= form_tag(plots_path,  method: "get") do%>
   
  <div class="container">
    <div class="row">    
    <div class="col-xs-8 col-xs-offset-2">
		<div class="input-group">
          <div class="input-group-btn search-panel">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            	<span id="search_concept">Filter by</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#first_name">First Name</a></li>
              <li><a href="#last_name">Last Name</a></li>
              <li><a href="#mother">Mother's Name</a></li>
              <li><a href="#father">Father's Name</a></li>
              <li><a href="#cemetery_name">Cemetery Name</a></li>
              <li class="divider"></li>
              <li><a href="#">Anything</a></li>
            </ul>
          </div>
            <input type="hidden" name="search_param" value="" id="search_param">         
            <input type="text" id="query" class="form-control" name="query" placeholder="Search term...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
        </div>
	</div>
</div>
    <% end %>

     


<div class="row welcome-menu">
	<div class="col-md-4">
	<h3>Browse By Cemetery</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="col-md-4">
	<h3>Add a Grave</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="col-md-4">
	<h3>News</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
	</div>
</div>


<script>
	$(document).ready(function(e){
    $('.search-panel .dropdown-menu').find('a').click(function(e) {
		e.preventDefault();
		var param = $(this).attr("href").replace("#","");
		var concept = $(this).text();
		$('.search-panel span#search_concept').text(concept);
		$('.input-group #search_param').val(param);
	});
});
</script>