.logo-big h1 {
	font-family: 'Alegreya SC', serif;
	text-align: center;
}


.logo-big h2{
	font-family: 'Arizonia', cursive;
	text-align: center;
	
}

.bottom p {
	text-align: center;
	font-family: 'Alegreya SC', serif;

}
